/* Ignore following classes */

* {
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
  }
  
  #intro {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
  }
  
  .insideborder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .para {
    font-weight: 300;
    margin-left: 10px;
  }
  
  h2 {
    font-size: medium;
    font-weight: 200;
  }
  
  /* Classes that you might find useful */
  /* Note* These classes do not cover every possible case to build you flags, you will have to continue to add your own*/
  

  .flag {
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
  }
  
  .horiz {
    display: flex;
    flex-direction: row;
  }
  
  .twovert {
    height: 50%;
  }
  
  .threevert {
    height: 33.3%;
  }
  
  .threehoriz {
    width: 33.3%;
  }
  
  .skinny {
    height: 17.5%;
  }

  .small {
    height: 11.1%;
  }
  
  .fat {
    height: 30%;
  }
  
  .circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
  }

  .parent {
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .corner {
    display: flex;
    height: 100%;
    width: 33.3%;
    justify-content: flex-start;
    position: relative;
  }

  .horz {
    position: absolute;
    height: 20%;
    width: 100%;
    top: 40%;
  }

  .vert {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 40%;
  }

  .top-stripes {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 66.7%;
    position: relative;
  }
  .bottom-stripes {
    display: flex;
    flex-direction: column;
    height: 44.5%;
    width: 100%;
    position: relative;
  }

  .top-stripe {
    height: 22.2%;
    width: 100%;
  }
  .bottom-stripe {
    height: 11.1%;
  }

  #top-half {
    display: flex;
    height: 55.6%;
    position: relative;
  }

  #mexico-eagle {
    margin:auto;
    display: block
  }
  
  /* Colors/ Feel free to add your own! */
  
  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .lightblue {
    background-color: lightblue;
  }
  
  .purple {
    background-color: purple;
  }
  
  .white {
    background-color: #fff;
  }
